@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/* font-family: 'Itim', cursive; */

body{
    font-family: 'Itim', cursive;
}

.navbar{
    background-color: #393e46;
}

.navbar-item{
    font-size: 20px;
    padding-left: 20px;
    color: #f7f7f7;
}
